*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12pt;
}
#wrapper {
    display: flex;
}
#map {
  /* configure the size of the map */
  width: 1000px;
  height: 600px;
}
#panel {
  width: 300px;
  display: flex;
  flex-direction: column;
}
#search-panel {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.search-line {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.panel-input {
  height: 30px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 12pt;
}
.panel-btn {
  height: 30px; 
}
.panel-btn--icon {
  width: 30px;
  margin-left: 10px;
}
.panel-btn--standalone {
  margin: 10px;
}

#panel-controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}